<ol class='question-list'>
  <li class='question-list__item'>
    <div class='view-count-wrapper'>
      <LinkTo class='question-list__title' @route='login'>How to scale a company when you get to a dead end?</LinkTo>
      <div class='view-count'>
        <span class='view-count__text'>1k</span>
      </div>
    </div>
    <div class="tags">
      <button class='btn btn-primary btn-sm'>scaling business</button>
      <button class='btn btn-primary btn-sm'>hucksterism</button>
      <button class='btn btn-primary btn-sm'>branding</button>
    </div>
  </li>
</ol>
