.post {
  margin-bottom: 3rem;
  margin-top: 1.5rem;

  &__title {
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__body {
    margin-bottom: 4rem;

    p {
      line-height: 2;
    }
  }
}
