<header class='header-main'>
  <h1 class='sr-only'>Expert Advice</h1>
</header>
<main>
  <header class='view-count-wrapper'>
    <h2 class='question-page-title'>Question</h2>
    <div class='view-count view-count--centered'>
      <span class='view-count__text'>views</span>
    </div>
  </header>

  <section class='post'>
    <header class='view-count-wrapper'>
      <h3 class='post__title'>How to scale a company when you get to a dead end?</h3>
      <div class='view-count view-count--line-height-adjusted'>
        <span class='view-count__text'>1k</span>
      </div>
    </header>
    <div class='post__body'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis fringilla quam, in faucibus leo
        facilisis
        nec. Sed quis odio at ipsum vestibulum efficitur. Aenean vitae ipsum nec felis porttitor facilisis. Sed tempor
        aliquet eros ut venenatis. Curabitur rhoncus, justo vitae vestibulum blandit, ante massa aliquam dolor, ac
        maximus
        orci metus vitae massa. Ut convallis et eros eget venenatis. Sed eleifend mattis sodales. Praesent viverra,
        lectus
        in porta luctus, felis ante vehicula purus, ac sollicitudin augue diam ut ex. Praesent blandit lobortis enim
        volutpat suscipit. Fusce scelerisque ex in lorem convallis convallis. Nullam laoreet dolor metus.</p>
      <p>Phasellus a nunc lacus. Sed nec ultrices dolor. Morbi semper aliquam tortor, vitae interdum ex rutrum in. Sed
        rhoncus urna non eleifend aliquet. Aliquam erat volutpat. Praesent lorem est, fermentum pharetra blandit ut,
        auctor
        sit amet massa. Suspendisse sollicitudin erat mauris. Vivamus placerat dui vitae tristique bibendum. Mauris vel
        purus ac turpis feugiat sollicitudin in ac enim. Cras placerat lorem nunc, non euismod nulla scelerisque quis.
        Integer libero felis, mattis vitae elit eu, pulvinar facilisis diam. Praesent dapibus massa a justo placerat
        luctus.
        Nullam sed nibh ex. Ut quis faucibus ligula.</p>
    </div>
  </section>
  <section>
    <h3 class="mb-4">Answer</h3>
    <AnswerForm />
  </section>
</main>
